.home-suscribe-container {
  border-radius: 8px;
}

.home-suscribe-header-container {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 16px 20px;
}

.home-suscribe-header-subcontainer{
  align-items: center;
}

.home-suscribe-header-container-title{
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.home-suscribe-button-container{
  font-weight: 500;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
}

.benefit-list{
  padding: 28px 56px;
}

.benefit{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 28px;
}

.benefit::after{
    background: linear-gradient(90deg, #f5f5f5, #d6c8e2 51%, #f5f5f5);
    border-radius: 50%;
    content: "";
    display: block;
    height: 56px;
    position: absolute;
    right: 0;
    top: calc(50% - 28px);
    width: 1.3px;
}

.benefit:last-child::after{
  display: none;
  padding: 0;
}

.benefit-parragraph{
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  position: relative;
}

.benefit-img{
  max-width: 280px;
  object-fit: cover;
  width: 100%;
}