footer .footer-bottom ul {
  display: flex;
}
footer .footer-bottom ul li {
  list-style: none;
}
footer .footer-bottom ul li a .icono {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}
footer .footer-bottom ul li a:hover .icono {
  color: #fff;
  transform: rotateY(360deg);
}
footer .footer-bottom ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
footer .footer-bottom ul li a:hover:before {
  top: 0;
}
footer .footer-bottom ul li:nth-child(1) a:before {
  background: #3b5999;
}
footer .footer-bottom ul li:nth-child(2) a:before {
  background: #55acee;
}
footer .footer-bottom ul li:nth-child(3) a:before {
  background: #0077b5;
}
footer .footer-bottom ul li:nth-child(4) a:before {
  background: #dd4b39;
}
