.footer-icon,
footer .footer-bottom ul li a {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

footer {
  border-top: 1px solid #eee;
}
footer .row {
  border-bottom: 1px solid #eee;
}
footer .row .links a {
  text-align: justify;
  text-decoration: none;
  color: gray;
}
