article {
  background-color: #fff;
  border-radius: 6x;
}

div article .recomendation-carousel-article-header {
  text-align: center;
}

div article div a:hover {
  color: blue;
}

.recomendation-carousel-article-title-ml {
  margin-bottom: 40px;
}
