.home-suscribe-container {
  border-radius: 12px;
}

.home-suscribe-header-container {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.home-suscribe-button {
  border-radius: 4px;
}
