.offer-next-button, .offer-prev-button{
    position: relative;
    top: 90px;
}

.offer-next-button{
    left: 42rem;
}

.offer-prev-button{
    right: 24px;
}

.container-cards{
    margin-left: 12px;
}